/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	}

ol, ul {
	list-style: none;
	margin-left: 933px;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** {outline: 1px solid black;}*/

body {font-family: arial,sans-serif;
		}
a {text-decoration: none;
	color:#645F5F;}
	
a:hover {text-decoration:underline;}

#top_nav {
		display: inline-flex;
		width:100%;
	 	text-align: right;
	 	list-style-type:none;
		}

li {float: left;
	margin: 10px;}


#apps {padding-right: 0px;}

#logo {text-align: center;
		height: 95px;
		padding-top:87px;
		margin-bottom: -71px;
		}	

#sign_in {border: #4285f4;
		background-color: #4285f4;
		padding: 7px;
		color: white;
		font-weight: bold;
		border-radius: 3px;
		margin-top: 13px;
		margin-left: 1px;
		}

#search {border: 2px gray solid;
	width: 500px;
	padding: 5px;
	margin-bottom: 20px;
	margin-left: 395px;
	margin-top: 112px;
	font-size: 17px;}

#mic {position: absolute;
float: right;
margin: 117px 0px 0px -30px;
height: 25px;}

#google_search {display: inline-block;
		margin-left: 530px;
		margin-right: 50px;
		background-color: #f4f4f4;
		border: 1px solid #dcdcdc;
		padding: 9px;
		border-radius: 3px;
		color: #444;
		font-size:14px}

#lucky {display: inline-block;
		background-color: #f4f4f4;
		border: 1px solid #dcdcdc;
		padding: 9px;
		border-radius: 3px;
		margin-left: -30px;
		color: #444;
		font-size:14px;}
	
footer {background-color: rgba(229,227,227,1.00);
border-top: 1px solid rgba(224,224,224,1.00);
height: 40px;
font-size: 13px;
font-family: arial;
bottom: 0;
right: 0;
left: 0;
position: absolute;
min-width: 980px;}

#left_footer {display: inline-block;
			margin-left: -920px;
			}

#right_footer {display: inline-block;
				float: right;
				margin-right: 14px;
				margin-top: -34px;}